.presentacion{
  font-size: 5pc;
  font-family: "Parkinsans", sans-serif;
  font-style: normal;
  text-align: center;
  justify-content: center;
  margin-top: 10pc;
  margin-bottom: 5pc;
}
.description{
    height: 25px;
    overflow: hidden;
    transition: height .3s ease-in .3s ;
}
.description:hover{
    height: 80px;
}
/* TAMAÑO IMAGEN  */
.imagen{
    width: 350px;
    height: 450px;
}
.carrito{
    min-height: 5vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%
}
.table__productos{
    display: flex;
}
.table__productos > img{
    width: 9rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right:20px ;
}
.table__cantidad >input{
    width: 40px;
    border: none;
    outline:0 ;
    font-size:10px ;
    font-weight: 700;
    margin-right:30px ;
    margin-bottom: 20px;
}

.descr
{
    font-size: 2pc;
    text-align: center;
    justify-content: center;
}

.BotonMenu a
{

    align-items: center;
    justify-content: center;
}
.botones
{
	margin: 50px;
	position: relative;
	overflow: hidden;
	display: inline-block;
	padding: 14px 35px;
	font-size: 15px;
	line-height: 1.25;
	border: 1px solid;
	border-radius: 0;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	letter-spacing: 0;
	text-transform: uppercase;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	user-select: none;
	transition: 250ms all ease-in-out;
}